.container {
  width: 90%;
  padding-top: 30px;
  margin: auto;
  display: flex;
  text-align: center;

  .tour {
    width: 150px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border: 2px solid rgb(133, 133, 133);
    border-radius: 5px;
  }
}

.alert {
  width: 300px;
  padding: 10px 20px;
  margin: 20px auto;
  border: 3px solid pink;
  border-radius: 5px;
  background-color: rgb(255, 223, 228);
  text-align: center;
}
